
@{
    ViewData["Title"] = "PaymentConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Symphony | Online Computer Education</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/website/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/website/assets/lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/website/css/style.css" rel="stylesheet">

    @* bootstrap cdn *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQv9ZD3xkX6sI5uH3r50m7lO9Y2HCoPAMgxQ3Wt2kpKNJ4V9+P98FNHZb" crossorigin="anonymous">

    @* owl carousel *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


</head>
<body>
    <div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<h2>Payment Confirmation</h2>

<p>@ViewBag.Message</p>

<p>
    <a asp-controller="Student" asp-action="Index">Back to Courses</a>
</p>
            </div>
<div class="col-md-2"></div>
</div>

<div class="contact-form">
    @if (TempData["PaymentSuccessMessage"] != null)
    {
        <script>
            window.onload = function () {
                alert("@TempData["PaymentSuccessMessage"]");
            };
        </script>
    }

    @if (TempData["PaymentSuccessMessage"] != null)
    {
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @TempData["PaymentSuccessMessage"]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $("#successModal").modal("show"); // Show modal when page loads
            });
        </script>
    }
    </div>


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="~/website/vendor/jquery/jquery.min.js"></script>
<script src="~/website/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/website/assets/js/isotope.min.js"></script>
<script src="~/website/assets/js/owl-carousel.js"></script>
<script src="~/website/assets/js/counter.js"></script>
<script src="~/website/assets/js/custom.js"></script>

<!-- Template Javascript -->
<script src="~/website/js/main.js"></script>
</body>

</html>