
@* @model IEnumerable<Symphony_Limited.Models.Courses> *@
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@* @foreach (var course in Model)
{
    <div>
        <h3>@course.course_name</h3>
        <p>@course.course_description</p>
        <a asp-controller="Student" asp-action="Enroll" asp-route-courseId="@course.course_id" class="btn btn-primary">Enroll Now</a>
    </div>
}
 *@