@model FAQs
@{
    ViewData["Title"] = "updateFAQ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post" asp-action="updateFAQ" asp-controller="Admin">
            <input type="hidden" name="faq_id" value="@Model.faq_id" class="form-control my-3" />
            <input type="text" name="question" value="@Model.question" class="form-control my-3" />
            <input type="text" name="answer" value="@Model.answer" class="form-control my-3" />
            <input type="date" name="date_posted" value="@Model.date_posted" class="form-control my-3" />
            <input type="submit" name="submit" value="Update Exam" class="btn btn-primary form-control my-3" />
        </form>
    </div>
    <div class="col-md-2"></div>
</div>